<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjPr1i3cBlr43ZEOKcx_SCN6Wth-_0Q5I</string>
	<key>GCM_SENDER_ID</key>
	<string>781525005266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bucketBuddiesFrontend.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bucket-buddies-34fb8</string>
	<key>STORAGE_BUCKET</key>
	<string>bucket-buddies-34fb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781525005266:ios:8de44c42e89ae8cf75ce0b</string>
</dict>
</plist>